<!DOCTYPE html>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink] = "['']">Surf Shop </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink] = "['/shop']">Shop</a></li>
      <li><a [routerLink] = "['/manage/list']">Manage</a></li>
      <li><a [routerLink] = "['/anything']">Not Found</a></li>

    </ul>
  </div>
</nav>

<div>
  <router-outlet>

  </router-outlet>
</div>

