<div class="raw list-group" *ngFor="let item of products; let i = index">
  <div class="thumbnail products col-xs-4 col-lg-4">

      <div class="list-group-item">
          <button type="button" class="btn btn-success" (click)="editProduct(item)"> Edit </button>
          <button type="button" class="btn btn-danger" (click)="deleteProduct(item)"> Delete </button>
      </div>
    <h4 class="list-group-item">
      Name : {{item.name}}
    </h4>
    <div class="list-group-item">
      Description : {{item.description}}
    </div>
    <div class="list-group-item">
      Price : {{item.price}}$
    </div>
    <div class="list-group-item">
      Address : <a class="btn">{{item.address}}</a>
    </div>
    <div class="list-group-item">
      <div>
        Image : <img class="img-thumbnail" src="http://placehold.it/100x100/000/fff" alt="" />{{item.pictureUrl}}
      </div>
    </div>

  </div>
</div>
